{% extends "base.jinja2" %}

{% block body %}
    <section>
        {% if is_post_container %}
          {% set posts = post_container.posts %}
          <h2>{{ content_type }}: {{ post_container.Name }}</h2>
        {% endif %}

        {% for post in posts %}
        <article>
            <h3>{{ post.Title }}</h3>
            <p><time datetime="{{ post.datetime|date("%Y-%m-%dT%H:%M:%S-05:00") }}">
                {{ post.datetime|date("%Y/%m/%d") }}
            </time></p>
            {{ post.content.split("</p>")[0] + "</p>" }}
            <p><a href="{% url "post", post %}">continue ️➡️</a></p>
        </article>
        {% endfor %}
    </section>
{% endblock %}
