{% extends "base.html" %}

{% block body %}
    <section class="section">
        {% for post in posts %}
        <article>
            <h2>{{ post.Title }}</h2>
            <p><time datetime="{{ post.datetime|date("%Y/%m/%dT%H:%M%z") }}">
                {{ post.datetime|date("%Y/%m/%d") }}
            </time></p>
            {{ post.content.split("</p>")[0] + "</p>" }}
            <p><a href="{% url "post", post %}">continue ️➡️</a></p>
        </article>
        {% endfor %}
    </section>
{% endblock %}
